* {
  margin: 0;
  padding: 0;
}

.side-nav-icon{
  font-size: 1.5rem;
  color: #fff;
  transition: opacity 1s ease-in-out;
}

.phone-number{
  font-size: 1rem;
  color: #fff;
  transition: opacity 1s ease-in-out;
  width:7vw;
  text-align: center;
}
.side-nav{
  position: fixed;
  bottom:0vw;
  z-index: 4;
  width:3vw;
  height:40vh;
  
  margin:1rem;
  padding:1rem;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.project-title{
  font-size: 5rem;
  position: absolute;
  color: #1ecbe1;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  z-index: 5;
  
}

.card {
  
  opacity: 0;
  width: 20vw;
  height: 20vh;
  
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
  line-height: 200px;
  font-size: 24px;
  
  transition: opacity 1s ease-in-out;
}
.side-nav .in-viewport{
  opacity: 1;
}
.intro .in-viewport{
  opacity: 1;
}

.card-container .in-viewport {
  opacity: 1;
  
}
.projects{
  top:230vh;
  position:absolute;
  z-index: 3;
  left:20%;
  overflow: hidden;
}
.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
.main-background {
  height: 100%;
  width: 100%;
  background: linear-gradient( #006ab6, #024744,  #031923);
  position: absolute;
}



.portrait{
  background: url(assets/portrait.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  position:absolute;
  
  
  float:left;
  width:20vw;
  height:20vw;
  z-index: 3;
  border-radius:1rem;
}
.portrait-color-cover:hover{
  opacity:0%;
}

.portrait-color-cover{
  background-color: #1ecbe1;
  opacity:20%;
  position:absolute;
  border-radius:1rem;
  
  float:left;
  width:20vw;
  height:20vw;
  z-index: 3;
}

.portrait-back{
  position:absolute;
  top:1vh;
  left:1vw;
  float:left;
  width:20vw;
  height:20vw;
  z-index: 3;
  border-width: 2px;
  z-index: 2;
  border: solid #1ecbe1;
}


.section-head{
  font-size: 3rem;
  color: #fff;
}
.section-head-mini{
  font-size: 2rem;
  color: #1ecbe1;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.about-main{
  line-height: 150%;
  font-size: 2rem;
  color: #fff;
  
}
.About-content{
  height: 50vh;
  width: 50vw;
  float:right;
  
}
.divider{
  margin-bottom: 0.5rem;
  width:50vw;
  height:2px;
  background-color:#024744;
  position: relative;
  z-index: 3;
  
}
.projects-divider{
  margin-bottom: 0.5rem;
  width:50vw;
  height:2px;
  bottom:95vh;
  background-color:#024744;
  position: absolute;
  z-index: 3;
}
.box {
  height: 80vh;
  width: 80vw;
  
  top:130%;
  position: absolute;
  opacity: 0;
  right:10%;
  
  transition: all 1s ease-in-out;
  z-index: 2;
}
.box.in-viewport {
  opacity: 1;
  ;
}
.page-divider {
  width:100%;
  height:2px;
  background-color:#024744;
  margin:0;
  padding:0;
  position: absolute;
  
  z-index: 4;
}
#divider1{
  top:100vh;
}
#divider2{
  top:200vh;
}
.about-particles-holder{
  display:flex;
  
}
.particles{
  width:100%;
  height: 100vh;
  position: absolute;
  top:100vh;
  z-index: 1;
  
}
.bobbing-arrow {
 
 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: 4;
  margin-top: 5px;
  color: white;
  transition: all 1s;
}
.bobbing-arrow:hover{
  color:#ac3d15;
  font-size: 2rem;
  transition: all 1s;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}
.secondary-background {
  top:100vh;
  height: 500%;
  width: 100%;
  background: linear-gradient(180deg, #031923, 5%, #000000);
  position: absolute;
}
.madness{
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #ac3d15;
  font-size: 5rem;
  font-weight: bolder;
  text-transform: uppercase;
  display:inline;
}

.pun{
  
  display: inline;
  font-size: 3rem;
  color: #1ecbe1;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.side-nav-divider{
  width: 1px;
  height:1em;
  background-color:white;
  transition: opacity 1s ease-in-out;
}
.intro-text{
  
  
  
  font-family: papyrus;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size: 3em;
  font-weight: 888;
  
  text-transform: uppercase;
}
.intro{
  position: absolute;
  top:35vh;
  left:25vw;
  width:50vw;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 1s ease-in-out;
  transition-delay: 1s;
}

.bubble-wrapper div {
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
}
div .dot {
  
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}
.bubble-wrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.bubble-wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.bubble-wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.bubble-wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.bubble-wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.bubble-wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.bubble-wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.bubble-wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.bubble-wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.bubble-wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.bubble-wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.bubble-wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.bubble-wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.bubble-wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.bubble-wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #024744;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1ecbe1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006ab6;
}